[submodule "kotlin"]
	path = kotlin
	url = https://github.com/Thug-Han/kotlin
[submodule "designmode"]
	path = designmode
	url = https://github.com/Thug-Han/designmode
[submodule "ipc"]
	path = ipc
	url = https://github.com/Thug-Han/ipc
